.profile {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .profile {
    max-width: 260px;
  }
}

.profile__header {
  text-align: center;
  margin: 74px 0 123px 0;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .profile__header {
    margin: 236px 0 96px 0;
  }
}

@media screen and (max-width: 450px) {
  .profile__header {
    margin: 70px 0 80px 0;
  }
}

.profile__form {
  max-width: 410px;
}

.profile__input-zone {
  display: flex;
  justify-content: space-between;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #424242;
}

.profile__input-zone:last-of-type {
  border-bottom: none;
  padding: 0;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  display: block;
}

.profile__input {
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
}

.profile__input-error {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin: 4px 0 2px 0;
  padding: 0;
  display: block;
  max-width: 396px;
  opacity: 0;
  height: 12px;
}

.profile__input-error_active {
  opacity: 1;
}

.profile__buttons-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 0 0;
}

@media screen and (max-width: 769px) {
  .profile__buttons-zone {
    margin: 190px 0 0 0;
  }
}

@media screen and (max-width: 450px) {
  .profile__buttons-zone {
    margin: 357px 0 0 0;
  }
}

.profile__success-text {
  color: #2be080;
  font-weight: 400;
  font-size: 12px;
  height: 13px;
  line-height: 13px;
  padding: 0;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  opacity: 1;
}

.profile__success-text_disabled {
  opacity: 0;
}

.profile__save {
  width: 100%;
  background: #3456f3;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
  padding: 13px 0 13px 0;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.profile__save_disabled {
  cursor: not-allowed;
  background: #f8f8f8;
  color: #c2c2c2;
  border-radius: 3px;
  border: none;
  pointer-events: none;
}

.profile__register {
  border: none;
  background-color: transparent;
  margin-bottom: 16px;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.profile__exit {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  padding: 0 0 70px 0;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .profile__exit {
    padding: 0 0 43px 0;
  }
}
